.SearchEngine h1 {
  color: #99a799;
  font-size: 45px;
  margin-top: 14px;
}

.SearchEngine p {
  margin-left: 12px;
  margin-top: 20px;
  padding: 10 12 0;
}

.SearchEngine #updated-date {
  font-weight: bold;
  font-size: 25px;
}
