.Temperature .temperature {
  font-size: 130px;
  padding-left: 70px;
  padding-bottom: 3;
}

.Temperature .unit {
  font-size: 25px;
  line-height: 1;
  top: -45px;
  position: relative;
}

.Temperature .weather-icon {
  position: relative;
  top: 48px;
  left: 15px;
}
