body {
  font-family: "Genos", sans-serif;
}

h1 {
  color: #99a799;
  font-size: 32px;
  margin-bottom: 20px;
  padding-top: 10px;
}

ul {
  color: #99a799;

  font-size: 14px;
  list-style-type: none;
  padding: 0;
}

small {
  font-size: 11px;
  margin-left: 110px;
}

.App {
  display: block;
  margin: 50px auto;
}

.App-footer {
  display: block;
  margin: 0 auto;
  width: 400px;
}

.box {
  background: #fef5ed;
  box-shadow: 8px 8px 10px 1px rgba(43, 43, 44, 0.2);
  color: #99a799;
  height: 300px;
  width: 550px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: lightskyblue;
}

a:hover {
  text-decoration: underline;
}
