body {
  font-family: "Genos", sans-serif;
}

small {
  font-size: 20px;
}

.App {
  display: block;
  margin: 50px auto;
}

.App-footer {
  display: block;
  margin: 0 auto;
  width: 600px;
}

.box {
  background: #fef5ed;
  box-shadow: 8px 8px 10px 1px rgba(43, 43, 44, 0.2);
  color: #99a799;
  height: 600px;
  width: 800px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: rgb(25, 159, 241);
}

a:hover {
  text-decoration: underline;
}
