.Temperature .temperature {
  font-size: 60px;
  padding-left: 10px;
}

.Temperature .unit {
  line-height: 1;
  top: -18px;
  position: relative;
}

.Temperature .weather-icon {
  top: 20px;
  position: relative;
}
